<div class="comment" id="juvia-comment-<%= comment.id %>">
	<div class="juvia-data">
		<div class="juvia-comment-content">
			<% if comment.moderation_status != :ok %>
				<p class="juvia-moderating">
					This comment is currently under moderation
					and won't show up until approved by the
					administrator.
				</p>
			<% end %>
			<div class="juvia-comment-pure-content"><%= render_markdown(comment.content) %></div>
		</div>
	</div>
	<div class="metadata">
    <span class="name"><%= comment.author_name || 'Anonymous' %></span>
    |
    <span class="datetime"><%= comment.created_at.strftime("%l:%M %P, %B %e, %Y") %></span>
    <br/>
    [<a href="javascript:void(0)">reply to this comment</a>]
  </div>
</div>
