// -*- Mode: SCSS; tab-width: 4; indent-tabs-mode: true; c-basic-offset: 4 -*-
@import "compass/css3/inline-block";
@import "compass/css3/box-shadow";
@import "compass/css3/border-radius";
@import "comment_content";
@import "show_all_comments";

.juvia-help-content {
	position: absolute;
	font-size: 90%;
  width: 228px;
	border: solid 1px black;
	background: #ffffe0;
	border: solid 1px #ffddaa;
	padding: 8px;
	@include box-shadow(3px 3px 5px #888);
}

.highlight-error {
  border-color: red;
  @include box-shadow(0 0 6px #f00);
}
.juvia-error {
  @include inline-block;
	color: red;
  margin: 1em 0px;
  background: #ee0101;
  @include border-radius(6px);
  border: 2px solid #ddd;
  @include box-shadow(0 0 6px #000);
  color: #fff;
  font-family: tahoma;
  font-size: 11px;
  padding: 4px 10px 4px 10px;
}

.juvia-preview h4 {
	margin-bottom: 0.5em;
}

.juvia-preview-content {
	background: #ffffdd;
	border: solid 1px #ffeebb;
	margin-bottom: 1em;
	padding: 8px;

	p {
		margin-top: 1em;
		margin-bottom: 1em;
	}

	pre, code {
		background: inherit;
		font-weight: normal;
		border: none;
		margin: 0;
		padding: 0;
	}

	pre {
		margin: 1em;
	}
}

.juvia-preview-content > *:first-child {
	margin-top: 0;
}

.juvia-preview-content > *:last-child {
	margin-bottom: 0;
}

